{% extends 'admin/master.html' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">数据库后台管理</h1>
                <ol class="list-group">
                    <li class="list-group-item">
                        <a href="user">管理用户</a>
                    </li>
                    <li class="list-group-item">
                        <a href="post">管理post</a>
                    </li>

                    <li class="list-group-item">
                        <a href="/interaction/banners">修改Banner</a>
                    </li>

                </ol>

            </div>

        </div>
    </div>

{% endblock %}